style.css body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
}
.body { padding-top:24px;
    padding-bottom: 48px;
    padding-right: 150px;
    padding-left: 150px; 
    background-color: #1f2937; 
   
}

.header {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
       
}
.logo{ border-radius: 50%;
    color: #f9faf8;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    
}


ul { display: flex;
    list-style-type: none;    
}
li{
    padding: 16px;
}
a, .secondary { font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
    margin-top: 0;
    
} 
 
.hero {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.main {
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}    


.information {
    display: flex;
    flex-direction: column;
   padding-top: 48px;
   padding-bottom: 48px;

}
.info{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
   
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding-top: 48px;
    padding-bottom: 48px;
    
}
.child {
    width: 300px;
    text-align: center;
    
}
button {
    background-color:#3882f6;
    color: #f9faf8;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid #e5e7eb;
  }
.informatics {
    border-radius: 18px;
}
.qoutes{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    
    
}
.qoutation {
   
    color:#1f2937;
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    padding: 48px;
    
   
} 
.dot {
    margin: 0;
}
.author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    padding: 24px;
}
.newsletter {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-right: 150px;
    margin-left: 150px

}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;    
}
.sign {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    

}

.subscribe {
 text-align: center;
 width: 100px;
 height: 34px;
 flex-shrink: 0;
 
}

.footer {
    background-color:#1f2937;
    color:#e5e7eb;
display: flex;justify-content: center;
align-items: center;
height: 48px;
}